body {
    background-color: ghostwhite;
}

header {
    display: flex;
    justify-content: space-between;
    max-height: 150px;
    background-color: green;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(50, 50, 50, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalForm {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid blueviolet;
    background-color: greenyellow;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid blueviolet;
    background-color: greenyellow;
}

.avatar {
    border: 1px solid red;
    max-height: inherit;
}

.avatar img {
    max-width: 250px;
    max-height: inherit;
}
